<% layout('layouts/boilerplate') %>
    <div class="container">
        <div class="row">
            <h1 class="text-center">New Restaurant</h1>
            <div class="col-md-6 offset-md-3">
                <form action="/restaurants" class="validated-form" method="POST" enctype="multipart/form-data"
                    novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" name="restaurant[title]" id="title" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">Location</label>
                        <input class="form-control" type="text" name="restaurant[location]" id="location" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Choose image(s)...</label>
                        <input class="form-control" type="file" name="image" id="image" multiple>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="price">Price per Person</label>
                        <div class="input-group">
                            <span class="input-group-text" id="price-label">₹</span>
                            <input type="text" name="restaurant[price]" id="price" class="form-control" placeholder="0"
                                aria-label="price-label" aria-describedby="price-label" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" type="text" name="restaurant[description]" id="description"
                            required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success">Add Restaurant</button>
                    </div>
                </form>
                <a href="/restaurants">Back</a>
            </div>
        </div>
    </div>